@charset "UTF-8";
* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  overflow-x: hidden; }

body {
  position: relative;
  z-index: 0;
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 1em;
  color: #333333;
  background-color: #f8b000; }

ul {
  padding: 0; }

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #a0def8;
  box-shadow: none;
  transform: translateY(0rem);
  transition: transform .2s ease; }
  header.splash {
    position: fixed;
    z-index: 2;
    width: 100vw;
    box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.25);
    transform: translateY(2.5rem); }
    header.splash + #pages, header.splash nav {
      display: none; }
  header > * {
    width: 100%;
    padding: .5rem 1rem; }
  header form {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: #70cdf5; }
    header form fieldset {
      position: relative;
      width: 100%;
      margin: 0;
      margin-bottom: 1rem;
      padding: 0;
      border: none; }
      header form fieldset:last-of-type {
        margin-bottom: 0; }
    header form label {
      display: block;
      margin-bottom: .4em;
      font-size: 1.2em;
      color: #ffffff; }
    header form input, header form button {
      width: 100%;
      padding: 1rem;
      font-size: 1.1em;
      border-radius: .25rem;
      border: none; }
      header form input#submit, header form button#submit {
        color: #ffffff;
        cursor: pointer;
        background-color: #f8b000;
        transition: .1s ease; }
        header form input#submit:hover, header form button#submit:hover {
          background-color: #ffc22c; }
    header form #filter .filter-main, header form #filter .filter-text {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between; }
    header form #filter .filter-radio {
      display: flex;
      width: 60%; }
      header form #filter .filter-radio label:last-child {
        border-radius: 0 .25rem .25rem 0; }
    header form #filter .filter-text {
      align-items: baseline;
      margin-top: 1rem; }
      header form #filter .filter-text label {
        position: relative;
        width: 35%;
        padding-right: 1rem;
        text-align: right; }
        header form #filter .filter-text label::after {
          position: absolute;
          z-index: 1;
          right: -1.5rem;
          color: #999999;
          content: "€"; }
      header form #filter .filter-text .filter-text-input {
        position: relative;
        width: 65%;
        overflow-x: hidden; }
        header form #filter .filter-text .filter-text-input[period-value] {
          display: flex;
          align-items: center; }
          header form #filter .filter-text .filter-text-input[period-value]::before {
            content: attr(period-value);
            position: absolute;
            left: 2rem;
            font-size: 1.1em; }
          header form #filter .filter-text .filter-text-input[period-value] input {
            color: transparent; }
        header form #filter .filter-text .filter-text-input input {
          width: 100%;
          padding-left: 2rem; }
    header form #filter label[data-input="radio"], header form #filter label[data-input="checkbox"] {
      position: relative;
      margin-bottom: 0;
      padding: 1em;
      border-radius: .25rem;
      background-color: #40bcf2;
      transition: .2s ease; }
    header form #filter label[data-input="radio"] {
      border-radius: .25rem 0 0 .25rem; }
    header form #filter input {
      width: initial; }
      header form #filter input[type="radio"], header form #filter input[type="checkbox"] {
        display: none; }
        header form #filter input[type="radio"]:checked + label, header form #filter input[type="checkbox"]:checked + label {
          background-color: #11acee; }
    header form #suggestions {
      position: absolute;
      top: calc(5.2rem + 1px);
      z-index: 2;
      width: 80%;
      margin: 0;
      overflow: hidden;
      border-radius: 0 0 .25rem .25rem;
      box-shadow: 0 0 0 1px #70cdf5; }
      header form #suggestions > li {
        display: block;
        width: 100%;
        padding: 1em;
        cursor: pointer;
        background-color: #ffffff;
        border-bottom: 1px solid #e6e6e6; }
        header form #suggestions > li:hover, header form #suggestions > li:active {
          background-color: #f2f2f2; }
        header form #suggestions > li:last-of-type {
          border-bottom: none; }
        header form #suggestions > li ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%; }
          header form #suggestions > li ul li {
            display: block;
            width: 80%;
            font-weight: bold; }
            header form #suggestions > li ul li:last-of-type {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              width: 20%;
              font-size: .8em;
              font-weight: normal;
              color: #999999; }
              header form #suggestions > li ul li:last-of-type img {
                margin-left: .5em; }
            header form #suggestions > li ul li span {
              display: block;
              margin-top: .25em;
              font-size: .8em;
              font-weight: normal; }
  header nav {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #40bcf2; }
    header nav ul {
      display: flex;
      flex-wrap: nowrap;
      margin: 0; }
    header nav li {
      display: block;
      margin-right: 1em; }
      header nav li:last-of-type {
        margin-right: 0; }
      header nav li.current a {
        color: #333333;
        background-color: #a0def8; }
    header nav a {
      display: block;
      padding: 1em;
      text-transform: capitalize;
      text-decoration: none;
      color: #ffffff;
      border-radius: .25rem;
      transition: .1s ease; }
      header nav a:hover {
        color: #333333;
        background-color: #88d5f7; }
      header nav a.current {
        color: #333333;
        background-color: #a0def8; }

#pages {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  z-index: -1;
  width: 400vw;
  min-height: 60vh;
  margin: 0;
  padding-top: 2rem;
  background-color: #ffffff;
  transform: translateX(-100vw);
  transition: transform .3s ease; }
  #pages.detail {
    transform: translateX(0vw); }
  #pages.resultaten {
    transform: translateX(-100vw); }
  #pages.kaart {
    transform: translateX(-200vw); }
  #pages.favorieten {
    transform: translateX(-300vw); }
  #pages > li {
    display: block;
    position: relative;
    width: 100vw;
    padding: 0 1rem; }
    #pages > li h2 {
      margin-top: 0; }

#resultaten #resultAmount {
  position: absolute;
  top: .5em;
  right: 1rem;
  margin: 0; }

#resultaten #results li {
  display: block;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6e6e6; }
  #resultaten #results li:last-of-type {
    border-bottom: none; }
  #resultaten #results li img {
    width: 100%; }
  #resultaten #results li h3 {
    margin-top: .4em;
    margin-bottom: .2em;
    color: #40bcf2; }
    #resultaten #results li h3 a {
      color: inherit;
      text-decoration: none; }
      #resultaten #results li h3 a::before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
  #resultaten #results li p {
    margin: 0; }
    #resultaten #results li p:last-of-type {
      position: absolute;
      bottom: 1rem;
      right: 0;
      color: #999999; }
  #resultaten #results li strong {
    display: block;
    margin-top: 1rem; }
  #resultaten #results li span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: .5em;
    font-weight: bold;
    color: #ffffff;
    border-radius: 0 0 .25rem 0;
    background-color: #f8b000; }

#detail #breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem; }
  #detail #breadcrumbs li {
    display: block;
    font-size: .9em;
    position: relative;
    margin-right: 1.5em;
    margin-bottom: .4em; }
    #detail #breadcrumbs li::after {
      position: absolute;
      right: -1em;
      color: #999999;
      content: ">"; }
    #detail #breadcrumbs li:last-of-type {
      margin-right: 0; }
      #detail #breadcrumbs li:last-of-type::after {
        display: none; }
  #detail #breadcrumbs a {
    color: #40bcf2;
    text-decoration: none; }

#feedback {
  display: block;
  position: absolute;
  right: 1rem;
  top: 0;
  padding: .75em;
  padding-top: 1em;
  font-weight: bold;
  color: #ffffff;
  border-radius: 0 0 .25rem .25rem;
  background-color: #333333;
  opacity: 0;
  transform: translateY(-100%);
  transition: .2s ease; }
  #feedback.active {
    opacity: 1;
    transform: translateY(0%); }
  #feedback.positive {
    background-color: #a9c42a; }
  #feedback.negative {
    background-color: #f83400; }

footer {
  display: none;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  opacity: .5; }
  footer.splash {
    display: block; }
  footer #mosaic {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    transform: translateY(0%);
    animation: autoscroll 50s infinite alternate; }
    footer #mosaic li {
      display: block;
      width: calc(100% / 3);
      height: 10rem;
      filter: blur(1px); }
      footer #mosaic li img {
        filter: sepia(100%); }

@keyframes autoscroll {
  to {
    transform: translateY(calc(-100% + 100vh)); } }

#mapPlaceholder {
  width: 100%;
  height: 200px; }

.hidden {
  display: none; }
